# Ignore everything by default
*

# Whitelist specific files and directories
!*.gitignore
!*.py
!*.html
!Dockerfile
!*.yml
!*.yaml
!*.env.example
!README.md
!LICENSE
!requirements.txt

# Modules to use.
!/modules/
!/modules/findMarkdown.py
!/modules/messageColor.py
!/modules/transcriptProcessor.py

# Files for testing
!/testing/
!/testing/diagnostics.py

# System messages
!/system-message/
!/system-message/clean_transcript
!/system-message/clean_transcript/clean_transcript.md
!/system-message/clean_text
!/system-message/clean_text/clean_text.md
!/system-message/clean_text_v2/
!/system-message/clean_text_v2/clean_text_v2.md
!/system-message/clean_transcript_v2
!/system-message/clean_transcript_v2/clean_transcript_v2.md